@page "/create"
@inject IHamsterService HamsterService
@inject NavigationManager NavigationManager


@*<EditForm Model="hamster" OnValidSubmit="AddHamster">
    <DataAnnotationsValidator></DataAnnotationsValidator>
<form>
    <div class="mb-0">
        <label for="name">Name</label>
        <InputText id="name" @bind-value="hamster.Name" class="form-control"></InputText>
    </div>
    <div class="mb-0">
        <label for="imgName">ImgUrl</label>
        <InputText id="imgName" @bind-value="hamster.ImgName" class="form-control"></InputText>
    </div>
    <div class="mb-0">
        <img src="@hamster.ImgName" />
    </div>
    <div class="mb-0">
        <label for="age">Age</label>
        <InputText id="age" @bind-value="hamster.Age" class="form-control"></InputText>
    </div>
    <div class="mb-0">
        <label for="favFood">FavFood</label>
        <InputText id="favFood" @bind-value="hamster.FavFood" class="form-control"></InputText>
    </div>
    <div class="mb-0">
        <label for="loves">Loves</label>
        <InputText id="loves" @bind-value="hamster.Loves" class="form-control"></InputText>
    </div>
    <button type="submit" class="btn btn-primary float-end">@btnText</button>
    <ValidationSummary></ValidationSummary>
</form>
</EditForm>*@

<form>
    <div class="form-group">
        <label for="@hamster.Name">Name</label>
        <input @bind-value="@hamster.Name" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="@hamster.Age">Age</label>
        <select @bind="@hamster.Age" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            @*Dem Blir typ aldrig äldre än 5 ändå*@
        </select>
    </div>
    <div class="form-group">
        <label for="@hamster.FavFood">Favourite Food</label>
        <input @bind-value="@hamster.FavFood" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="@hamster.Loves">Loves</label>
        <input @bind-value="@hamster.Loves" type="text" class="form-control">
    </div>

    <label for="@hamster.ImgName">Image Url</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">/images/hamsters/hamster-</span>
        </div>
        <div class="input-group-append">
            <label class="input-group-text">.jpg</label>
        </div>
    </div>
    <button @onclick="AddHamster" type="submit" class="btn btn-primary">Collect your new born here...</button>
</form>


@code {
    //[Parameter]
    //public int Id { get; set; }

    //string btnText = "";

    public Hamster hamster { get; set; } = new Hamster();

    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetHamsters();
    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    if(Id == 0)
    //    {
    //        hamster = new Hamster { IsNew = true };
    //        btnText = "Collect new born...";
    //    }
    //    //else
    //    //{
    //    //    Hamster dbHamster = (await HamsterService.GetHamster(Id)).Data;
    //    //    if(dbHamster == null)
    //    //    {
    //    //        message = $"Hamster with Id '{Id}' does not exist";
    //    //    }
    //    //}
    //    //loading = false;
    //}

    public void AddHamster()  // TODO Fungerar om man inte använder async metod! Varför?
    {
        HamsterService.CreateHamster(hamster);
        NavigationManager.NavigateTo("/gallery");               // TODO Behöver fixas så att listan i gallry laddas om
    }
}
