@page "/hamster/{id:int}"
@page "/matchwinners/{id:int}"
@inject IHamsterService HamsterService
@inject IMatchService MatchService

@if (hamster == null)
{
    <span>@message</span>
}
else
{
    <div class="row row-cols-3 g-4">
        <div class="col">
            <PanelComponent Heading="@hamster.Name">
                <p>Age: @hamster.Age</p>
                <p>Wins: @hamster.Wins</p>
                <p>Defeats: @hamster.Defeats</p>
                <p>Battles played: @hamster.Games</p>
                <img src="@hamster.ImgName" />
            </PanelComponent>

        </div>
    </div>
}

@if (MatchService.Matches == null || MatchService.Matches.Count == 0)
{
    <span>Loading all matches...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Match Id</th>
                <th>Winner</th>
                <th>Defeated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var matches in MatchService.Matches)
            {
                <tr>
                    <td>@matches.Id</td>
                    <td>@matches.WinnerId</td>
                    <td>@matches.LoserId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Hamster? hamster = null;
    private string message = string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await MatchService.GetAllHamsterMatches(Id);
    }

    protected override async Task OnParametersSetAsync()
    {
        message = "Getting hamster..";
        var result = await HamsterService.GetHamster(Id);

        if (!result.Success)
        {
            message = result.Message;
        }
        hamster = result.Data;
    }

    
}
