@page "/battle"
@inject IHamsterService HamsterService
@inject IMatchService MatchService

<h3>Welcome to this ultimate hamster battle.</h3>



@if (HamsterList.Count == 0)
{
    <img src="images/spinninghamster.gif" class="img-loading" />
}
else
{
    <div class="row">
        @foreach (var hamster in HamsterList)
        {
            <div class="card col-4" style="width: 25rem; height: 23rem">
                <img class="card-img-top btn img-battle" @onclick="@(x => InsertWinnerLosser(@hamster.Id))" src="@hamster.ImgName" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@hamster.Name</h5>
                    <br />
                    <p>@hamster.Wins</p>
                    <p>@hamster.Defeats</p>
                    <p>@hamster.Games</p>
                    <p>Age: @hamster.Age</p>
                    <p>@hamster.Loves</p>
                    <p>@hamster.FavFood</p>
                </div>
            </div>
        }
    </div>

@*    <div class="row">
        <div class="btn btn-primary" @onclick="ResetBattle">Generate new battle</div>
        <br />
        @foreach (var hamster in oldHamsterList)
        {
            <br />
            @if (oldHamsterList.Count == 0)
            {
                <span>No battle played today...</span>
            }
            <CardComponent Heading="@hamster.Name">
                <p>@hamster.Wins</p>
                <p>@hamster.Defeats</p>
                <p>@hamster.Games</p>
            </CardComponent>

        }
    </div>*@
}

@code {

    private static readonly Random rnd = new Random();
    private List<Hamster> HamsterList = new List<Hamster>();
    private List<Hamster> oldHamsterList = new List<Hamster>();
    private Match Match = new Match();
    string message = "Welcome to this ultimate hamster battle.";

    [Parameter]
    public EventCallback<List<Hamster>> ResetList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        message = "Getting hamsters";
        await HamsterService.GetHamsters();
        ShuffleHamsters();
    }

    async void InsertWinnerLosser(int winningId)
    {
        foreach (var hamster in HamsterList)
        {
            if (hamster.Id == winningId)
            {
                hamster.Wins += 1;
                hamster.Games += 1;
                Match.WinnerId = winningId;
                await HamsterService.UpdateHamster(hamster);
            }
            else
            {
                hamster.Defeats += 1;
                hamster.Games += 1;
                Match.LoserId = hamster.Id;
                await HamsterService.UpdateHamster(hamster);
            }
        }

        await MatchService.CreateMatch(Match);

        Match = new Match();
        StateHasChanged();

    }

    async void ResetBattle()
    {
        oldHamsterList = HamsterList;
        HamsterList = new List<Hamster>();
        await ResetList.InvokeAsync(ShuffleHamsters());
        StateHasChanged();
    }

    List<Hamster> ShuffleHamsters()
    {
        int n = HamsterService.Hamsters.Count();
        var list = HamsterService.Hamsters;

        // Plockat från Stackoverflow/google --https://blog.codinghorror.com/shuffling/
        while (n > 1)
        {
            int k = (rnd.Next(0, n) % n);
            n--;
            Hamster value = list[k];
            list[k] = list[n];
            list[n] = value;
        }

        HamsterList = list
                        .Where(x => x.Deleted == false)
                        .Take(2)
                        .ToList();

        return HamsterList;
    }
}
