@page "/gallery"
@using HamsterWarsWASM.Shared.Service
@inject IHamsterService HamsterService
@inject NavigationManager NavigationManager
@implements IDisposable


@if (HamsterService.Hamsters == null || HamsterService.Hamsters.Count == 0)
{
    <span>Loading cute hamsters plz wait......</span>
}
else
{
    <button class="btn btn-primary" @onclick="CreateHamster">
        <i class="oi oi-plus"></i>
        Click here to add a new hamster
    </button>
    <WrapperContainerBattleComponent>
        @foreach (var hamster in HamsterService.Hamsters)
        {
            if (hamster.Deleted == false)
            {
                <CardGalleryComponent Heading="@hamster.Name" Source="@hamster.ImgName">
                    <p>
                        This hamster is @hamster.Age years old and loves @hamster.Loves.
                    </p>
                    <button class="btn btn-warning" @onclick="@(() => EditHamster(@hamster.Id))">
                        Edit
                    </button>
                </CardGalleryComponent>
            }
        }
    </WrapperContainerBattleComponent>
}
@code {
    private bool overlayVisible;
    private bool editMode;

    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetHamsters();
    }

    void CreateHamster()
    {
        NavigationManager.NavigateTo("/create");
    }

    void EditHamster(int hamsterId)
    {
        NavigationManager.NavigateTo($"edit/{hamsterId}");
    }

    public void Dispose()
    {
        HamsterService.HamstersChanged -= StateHasChanged;
    }
}
