@inject IHamsterService HamsterService
@inject NavigationManager NavigationManager

@if(HamsterService.Hamsters == null || HamsterService.Hamsters.Count == 0)
{
    <span>Loading hamsters...</span>
}
else
{
    <ul class="list-unstyled">
        @foreach(var hamster in HamsterService.Hamsters)
        {
            <li class="my-3">
                <div class="media-img-wrapper mr-2" >
                    <a href="#"> 
                        <img class="media-img" src="@hamster.ImgName" />
                    </a>
                </div>
                <div class="col">
                    <a href="#"> 
                        <h4 class="">@hamster.Name</h4>
                    </a>
                </div>
                <div class="container-fluid row">
                    <p class="mb-0">@hamster.Age</p>
                    <p class="mb-0">@hamster.FavFood</p>
                    <p class="mb-0">@hamster.Loves</p>
                    <p class="mb-0">@hamster.Wins</p>
                    <p class="mb-0">@hamster.Defeats</p>
                    <p class="mb-0">@hamster.Games</p>
                </div>
            </li>   
        }
    </ul>
}
@code{

    protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetHamsters();
    }
}
